{% extends "base.html" %}
{% block title %}Company Dashboard | PlaceMe{% endblock %}
{% block content %}

{% if not company.is_active %}
    <div class="alert alert-danger text-center">
        Your account has been backlisted by admin. You cannot create drives.
    </div>
{% endif %}

<div class="row mb-4">

    <!-- Company Profile -->
    <div class="col-md-4">
        <div class="card p-4 shadow-sm h-100">
            <h5 class="mb-3">Company Profile</h5>

            <p><strong>Name:</strong> {{ company.name }}</p>
            <p><strong>Email:</strong> {{ company.email }}</p>
            <p><strong>Website:</strong> {{ company.website }}</p>
            <p><strong>Industry:</strong> {{ company.industry }}</p>

            <span class="badge 
                {% if company.is_approved %}bg-success{% else %}bg-warning{% endif %}">
                {{ "Approved" if company.is_approved else "Pending" }}
            </span>
        </div>
    </div>

    <!-- Create Drive -->
    <div class="col-md-8">
        <div class="card p-4 shadow-sm">
            <h5 class="mb-3">Create Placement Drive</h5>

            <form action="{{ url_for('create_drive')}}" method="POST">

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Job Title</label>
                        <input type="text" class="form-control" name="title" required>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Salary</label>
                        <input type="text" class="form-control" name="salary" placeholder="25000 pm, 3 lpa">
                    </div>
                </div>

                <div class="mb-3">
                    <label>Description</label>
                    <textarea class="form-control" name="description" rows="3"></textarea>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Skills</label>
                        <input type="text" class="form-control" name="skills" placeholder="Python, Flask">
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Eligibility</label>
                        <input type="text" class="form-control" name="eligibility" placeholder="CGPA">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Experience</label>
                        <input type="text" class="form-control" name="experience" placeholder="Fresher, 0-2 years, 5 years">
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Deadline</label>
                        <input type="date" class="form-control" name="deadline" required>
                    </div>
                </div>
                {% if not company.is_active %}
                    <button class="btn btn-primary w-100" disabled>Blocked</button>
                {% else %}
                    <button type="submit" class="btn btn-primary w-100">Create Drive</button>
                {% endif %}
            </form>
        </div>
    </div>

</div>

<div class="card shadow-sm p-3">
    <h5 class="mb-3">Your Drives</h5>

    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Job Title</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for drive in drives %}
                <tr>
                    <td>{{ drive.id }}</td>

                    <td>
                        <strong>{{ drive.title }}</strong>
                    </td>

                    <td>
                        <span class="badge 
                            {% if drive.status == 'approved' %}bg-success
                            {% else %}bg-secondary{% endif %}">
                            {{ drive.status | capitalize }}
                        </span>
                    </td>

                    <td>
                        <a href="{{ url_for('view_applications', drive_id=drive.id) }}" 
                           class="btn btn-outline-primary btn-sm">
                           View
                        </a>

                        <form action="{{ url_for('toggle_drive_status', drive_id=drive.id)}}" 
                              method="POST" class="d-inline">
                            <button class="btn btn-outline-warning btn-sm">
                                {{ "Close" if drive.status == 'approved' else "Reopen"}}
                            </button>
                        </form>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
