{% extends "base.html" %}
{% block title %}Update Profile | PlaceMe{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4">
                <h4 class="text-center mb-3">Update Profile</h4>
                <form action="{{ url_for('update_profile') }}" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label>Full name</label>
                        <input type="text" class="form-control" name="name" value="{{ student.name }}">
                    </div>
                    <div class="mb-3">
                        <label>Department</label>
                        <input type="text" class="form-control" name="department" value="{{ student.department }}">
                    </div>
                    <div class="mb-3">
                        <label>Skills</label>
                        <input type="text" class="form-control" name="skills" value="{{ student.skills or '' }}" placeholder="e.g. Python, Flask, Sql">
                    </div>
                    <div class="mb-3">
                        <label>Resume</label>
                        <input type="file" class="form-control" name="resume" accept=".pdf">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Update Profile</button>

                </form>
            </div>
        </div>

    </div>

</div>





{% endblock %}